# node_modules
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Logs
logs/
*.log

# Cache
.cache/
.parcel-cache/

# Vite
.vite/

# misc
.prettierignore
